@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
@font-face {
    font-family: goldplay;
    src: url(../font/GoldplayAlt-Black/GoldplayAlt-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
}
:root
{
    --cor1: #DCDCDC;
    --cor2: rgb(70, 70, 197);
    --cor3: rgb(255, 255, 136);

}

.foto
{
    margin-bottom: 50px;
}

.logo
{
    display: flex;
    margin-bottom: 10px;
}

p.araprev, p.araprev1
{
    font-size: 20px;
    font-weight: bolder;
    font-family: goldplay;
}

p.araprev
{
    color: white;
}
p.araprev1
{
    color: var(--cor3);
}

p.tit
{
    font-size: 12px;
    color: white;
}

p.resposta
{
    color: white;
    font-size: 12px;
    margin-top: 10px;
}

.cabeca
{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    background-color: var(--cor1);

}

.principal
{
    display: flex;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.acessar
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

input
{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--cor1);
    transition: 0.2s;
}

input:focus
{
    outline: none;
}

button.login
{
    background-color: white;
    color: rgba(0, 0, 0, 0.645);
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bolder;
}

button.login:hover
{
    background-color: var(--cor3);
    color: var(--cor2);
}

.acesso
{
    padding: 15px;
    border-radius: 10px;
    background-color: var(--cor2);
}

#fotologin
{
    width: 300px;
}